extends ../layouts/common.pug
block content
  h1 All books
  
  .d-flex.flex-wrap.justify-content-center
    each book in books
      .card.mr-1.mb-1(style='width: 15rem;')
        img.card-img-top(src= book.image, alt='Card image cap')
        .card-body
          h5.card-title= book.name
          p.card-text= book.description
          a.btn.btn-primary(href='/cart/add/'+book.id) Add to cart
          
  .d-flex.justify-content-center
    nav(aria-label='Search result page')
      ul.pagination
        li.page-item
          a.page-link(href=`?page=${pre}`) Previous
        each number in numberPages
          li.page-item
            a.page-link(href=`?page=${number}`)= number
        li.page-item
          a.page-link(href=`?page=${next}`) Next
